<div class="max-w-[100%] flex flex-col justify-center items-center p-4 bg-yellow-300 rounded-md shadow-xl shadow-gray-220 cursor-pointer">
    <figure>
        <img src={{image}} alt={{imgAlt}}>
    </figure>

    <div class="w-[100%] flex flex-col">
        <p class="font-bold text-xl text-center mb-3">{{name}}</p>
        
        @if(isCharacter){
            <p><b>Ki:</b> {{ki}}</p>
            <p><b>Raça:</b> {{race}}</p>
            <p><b>Gênero:</b> {{gender}}</p>
            <p><b>Afiliação:</b> {{affiliation}}</p>
        }

        @if(!isCharacter){
            @if(isDestroyed){
                <p>Situação: Já Destruido</p>
            } @else {
                <p>Situação: Não Destruido</p>
            }
        }
    </div>
</div>