<div class="akira flex justify-center items-center gap-4 p-8 border border-white rounded-md bg-black/95 text-white mt-2 w-5/6 mx-auto">
    <figure>
        <img class="rounded-md" ngSrc="./assets/images/jpg/akira.jpg" priority width="650" height="650">
        <figcaption class="text-center text-xs">
            Akira Toryiama <br>(1955 - 2024)
        </figcaption>
    </figure>
    <div class="text-justify">
        <h3 class="font-bold text-xl">Essa é uma homenagem ao saudoso Akira Toriyama!</h3>
        <p>
            Decidi criar essa aplicação para homenagear <i>Akira Toriyama</i>, criador de Dragon Ball e
            outras grandes Obras. Sem saber quem ele era eu já me divertia bastante jogando Chrono Trigger e Dragon Quest nos 
            velhos cartuchos que ganhei de meu pai. Cresci vendo as lutas épicas de Goku e companhia e passando por cada emoção, do Z ao Super
            com uma pequena passagem pelo GT. Obrigado Akira, por fazer feliz a infância e a Juventude de tantas pessoas, principalmente a minha.
            Infelizmente não podemos reunir as Esferas do Dragão, mas seu legado não terá fim! 
        </p>
    </div>
</div>
